@media screen and (max-width: 992px) {
	.container {
		width: 730px;
	}

	.billboard__title {
		font-size: 70px;
	}

	.dishes__item {
		width: 340px;
	}

	.featured-dishes__item {
		width: 223px;
	}

	.footer__item {
		margin-right: 35px;
	}
}