.header {
	background-color: #fff;
}

.header__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 110px;
}

.logo__link {
	display: block;
	height: 30px;
	width: 80px;
	background: url('/img/logo/logo.png') center center no-repeat;
}

.adaptive-menu {
	display: none;
	font-size: 26px;
	text-decoration: none;
	color: #000;
	opacity: .6;
	transition: .3s;
	outline: none;

	&:hover {
		opacity: 1;
	}
}

.nav__list {
	display: flex;
}

.nav__item {
	margin-left: 50px;

	&:first-child {
		margin-left: 0;
	}
}

.nav__link {
	text-decoration: none;
	font-size: 14px;
	color: #3b3b3b;
	transition: .3s;

	&:hover {
		color: red;
	}
}
